@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover > div {
  width: 100%;
}

.clip {
  -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 90% 100%, 0% 100%);
}
